@charset "UTF-8";
/* CSS Document */

body{
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 29px;
}

a:link {
	color: #ffffff;
	background-color: #027070;
	padding: 6px 7px;
	margin: 20px;
	border-radius: 10px;
	text-decoration: none
}
a:visited {
	color: #1d1160;
}
a:hover {
	color: #808080;
}
a:active {
	color: white;
}
.firstheader{
	text-align: center;
	font-size: 69px;
}
.secondheader{
	text-align: center;
	font-size: 67px;
}
.thirdheader{
	text-align: center;
	font-size: 41px;
}
.diveloper{
	font-size: 76px;
	background-color: #008080;
	text-align: center;
	padding: 22.67px;
}
#footer{
	background-color:#00C4BE;
	color:#1d1160;
	
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}
#mybackground{
	background-image: url(wholelottadigletts.png)
}
.threecolumns{
	width: 31.135%;
	padding: 15px;
	float: left; 
	text-align: center;
	font-size: 29px;
}
.threecolumns:hover {
	box-shadow: 2px 2px 6.7px 3px #1d1160;
	transform: scale(0.97);
}
